Repository wix/wix-ui, pull requests merged in 2019-05, with the labels that each got.

#1275 <Popover/> - add random id to data-content-hook
  packages/wix-ui-core/src/components/popover/Popover.tsx
  packages/wix-ui-core/src/components/popover/helpers.ts
Labels: WIP

#1273 wix-ui-framework/cleanups
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/README.md
  packages/wix-ui-framework/bin/start.js
  packages/wix-ui-framework/generate/__test__/copy-templates.spec.js
  packages/wix-ui-framework/generate/__test__/run-codemods.spec.js
  packages/wix-ui-framework/generate/__test__/templates/src/Component/test/storySettings.js
  packages/wix-ui-framework/generate/create-values-map.js
  packages/wix-ui-framework/generate/index.js
  packages/wix-ui-framework/generate/run-tasks.js
  packages/wix-ui-framework/generate/tasks/copy-templates.js
  packages/wix-ui-framework/generate/tasks/replace-templates.js
  packages/wix-ui-framework/generate/tasks/run-codemods.js
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/test/version.spec.js
  packages/wix-ui-framework/tslint.json
Labels: WIP, wix-ui-framework

#1279 wix-ui-framework: tsify everything
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/generate/__test__/__snapshots__/copy-templates.spec.ts.snap
  packages/wix-ui-framework/src/generate/__test__/copy-templates.spec.ts
  packages/wix-ui-framework/src/generate/__test__/create-values-map.spec.ts
  packages/wix-ui-framework/src/generate/__test__/replace-templates.spec.ts
  packages/wix-ui-framework/src/generate/__test__/run-codemods.spec.ts
  packages/wix-ui-framework/src/generate/__test__/utils.spec.js
  packages/wix-ui-framework/src/generate/__test__/utils.spec.ts
  packages/wix-ui-framework/src/generate/__test__/verify-working-directory.spec.ts
  packages/wix-ui-framework/src/generate/create-values-map.js
  packages/wix-ui-framework/src/generate/create-values-map.ts
  packages/wix-ui-framework/src/generate/index.ts
  packages/wix-ui-framework/src/generate/logger.js
  packages/wix-ui-framework/src/generate/logger.ts
  packages/wix-ui-framework/src/generate/run-tasks.ts
  packages/wix-ui-framework/src/generate/tasks/copy-templates.ts
  packages/wix-ui-framework/src/generate/tasks/replace-templates.ts
  packages/wix-ui-framework/src/generate/tasks/run-codemods.ts
  packages/wix-ui-framework/src/generate/tasks/run-prompts.ts
  packages/wix-ui-framework/src/generate/tasks/verify-working-directory.ts
  packages/wix-ui-framework/src/generate/utils.js
  packages/wix-ui-framework/src/generate/utils.ts
  packages/wix-ui-framework/tsconfig.json
Labels: wix-ui-framework

#1280 wix-ui-framework: release(1.2.0)
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
Labels: wix-ui-framework

#1300 <WithEllipsedTooltip/> - fix stylable classes clashes problem
  packages/wix-ui-core/src/hocs/EllipsedTooltip/withEllipsedTooltip.tsx
Labels: WIP

#1320 wix-ui-framework: de-hardcode enzyme references
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/export-testkits/cli.ts
  packages/wix-ui-framework/src/cli-commands/export-testkits/index.ts
  packages/wix-ui-framework/src/cli-commands/generate/cli.ts
  packages/wix-ui-framework/src/cli-commands/update-components-list/cli.ts
  packages/wix-ui-framework/src/cli-commands/update-components-list/index.spec.ts
  packages/wix-ui-framework/src/cli-commands/update-components-list/index.ts
  packages/wix-ui-framework/src/index.ts
  packages/wix-ui-framework/test/__snapshots__/cli.spec.ts.snap
Labels: WIP
