Repository wix/wix-ui, pull requests merged in 2019-12, with the labels that each got.

#1631 <Popover/> - Rename upgrade prop to disableClickOutsideWhenClosed
  packages/wix-ui-core/src/components/popover/Popover.spec.tsx
  packages/wix-ui-core/src/components/popover/Popover.tsx
Labels: API

#1579 InputWithOptions: a11y
  packages/wix-ui-core/src/components/dropdown-content/DropdownContent.spec.tsx
  packages/wix-ui-core/src/components/dropdown-content/DropdownContent.tsx
  packages/wix-ui-core/src/components/dropdown-content/index.ts
  packages/wix-ui-core/src/components/dropdown-option/DropdownOption.tsx
  packages/wix-ui-core/src/components/dropdown/Dropdown.spec.tsx
  packages/wix-ui-core/src/components/dropdown/Dropdown.tsx
  packages/wix-ui-core/src/components/input-with-options/InputWithOptions.spec.tsx
  packages/wix-ui-core/src/components/input-with-options/InputWithOptions.tsx
Labels: Accessibility, wix-ui-core

#1627 <Popover/> - Add excludeClass prop
  packages/wix-ui-core/src/components/popover/Popover.spec.tsx
  packages/wix-ui-core/src/components/popover/Popover.tsx
Labels: API

#1637 <HorizontalMenu/> Add force opening of MenuItem
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/docs/index.story.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
Labels: wix-ui-core

#1633 `<ToggleSwitch/>` - refactoring unit tests and adding uni-driver
  packages/wix-ui-core/src/components/toggle-switch/ToggleSwitch.driver.ts
  packages/wix-ui-core/src/components/toggle-switch/ToggleSwitch.spec.tsx
  packages/wix-ui-core/src/components/toggle-switch/ToggleSwitch.tsx
  packages/wix-ui-core/src/components/toggle-switch/ToggleSwitch.uni.driver.ts
  packages/wix-ui-core/src/components/toggle-switch/constants.ts
  packages/wix-ui-core/src/testkit/index.ts
Labels: Refactor, Testing, wix-ui-core

#1640 <Slider/> - Add types
  packages/wsr-types/__tests__/Slider-tests.tsx
  packages/wsr-types/src/components/Slider.d.ts
  packages/wsr-types/src/drivers/Slider.driver.d.ts
  packages/wsr-types/src/drivers/Slider.uni.driver.d.ts
  packages/wsr-types/src/testkits/enzyme.d.ts
  packages/wsr-types/src/testkits/puppeteer.d.ts
  packages/wsr-types/src/testkits/vanilla.d.ts
Labels: wsr-types

#1641 <TimeInput/> - Add types
  packages/wsr-types/__tests__/TimeInput-tests.tsx
  packages/wsr-types/package.json
  packages/wsr-types/src/components/TimeInput.d.ts
  packages/wsr-types/src/drivers/TimeInput.driver.d.ts
  packages/wsr-types/src/drivers/TimeInput.uni.driver.d.ts
  packages/wsr-types/src/testkits/enzyme.d.ts
  packages/wsr-types/src/testkits/puppeteer.d.ts
  packages/wsr-types/src/testkits/vanilla.d.ts
Labels: wsr-types

#1663 react-autodocs-utils: chore(component-resolve): update `resolveHOC` function
  packages/react-autodocs-utils/src/metadata-parser/tests/index.test.js
  packages/react-autodocs-utils/src/parser/component-resolve.js
Labels: react-autodocs-utils

#1664 react-autodocs-utils: release(3.6.1)
  packages/react-autodocs-utils/CHANGELOG.md
  packages/react-autodocs-utils/package.json
Labels: react-autodocs-utils

#1671 fix(horizontal-menu): remove default props for link
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
Labels: wix-ui-core

#1647 <TextButton/> - change tiny size height to 15px
  packages/wix-ui-core/src/themes/backoffice/text-button/text-button.st.css
Labels: wix-ui-core

#1679 <HorizontalMenu /> Move expandSize logic to MenuItem and relate it to menu
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/docs/index.story.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/HorizontalMenuLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
Labels: wix-ui-core

#1686 <ClickOutside/> - Add useCapture/options prop
  packages/wix-ui-core/src/components/click-outside/ClickOutside.tsx
Labels: API, wix-ui-core

#1689 <HorizontalMenu /> Refactor layouts for submenus
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.uni.driver.tsx
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenuContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenuContext.tsx
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/HorizontalMenuLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/test/HorizontalMenu.spec.tsx
Labels: wix-ui-core
