Repository wix/wix-ui, pull requests merged in 2019-09, with the labels that each got.

#1460 wix-ui-core: fix(Input): use namespaced import specifier for `classnames`
  packages/wix-ui-core/src/components/input/Input.tsx
Labels: wix-ui-core

#1469 wix-storybook-utils: fix(AutoTestkit/flatten): ensure falsy objects dont throw error
  packages/wix-storybook-utils/src/AutoTestkit/flatten.test.ts
  packages/wix-storybook-utils/src/AutoTestkit/flatten.ts
Labels: wix-storybook-utils

#1478 wix-storybook-utils: docs(sections): add comments to sections typings and script to generate md file
  packages/wix-storybook-utils/README.md
  packages/wix-storybook-utils/docs/make-sections-docs.js
  packages/wix-storybook-utils/docs/sections.ejs
  packages/wix-storybook-utils/docs/sections.md
  packages/wix-storybook-utils/docs/usage.md
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/typings/story-section.ts
Labels: docs, wix-storybook-utils

#1479 wix-storybook-utils: docs(sections): un-escape html in markdown
  packages/wix-storybook-utils/README.md
  packages/wix-storybook-utils/docs/sections.ejs
  packages/wix-storybook-utils/docs/sections.md
Labels: docs, wix-storybook-utils

#1473 Adds <TagsList/> component
  packages/wix-ui-core/.wuf/components.json
  packages/wix-ui-core/src/components/tags-list/Tag.st.css
  packages/wix-ui-core/src/components/tags-list/Tag.tsx
  packages/wix-ui-core/src/components/tags-list/Tag.uni.driver.ts
  packages/wix-ui-core/src/components/tags-list/TagsList.helpers.ts
  packages/wix-ui-core/src/components/tags-list/TagsList.st.css
  packages/wix-ui-core/src/components/tags-list/TagsList.tsx
  packages/wix-ui-core/src/components/tags-list/TagsList.uni.driver.ts
  packages/wix-ui-core/src/components/tags-list/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/tags-list/docs/SimpleExample.tsx
  packages/wix-ui-core/src/components/tags-list/docs/index.story.tsx
  packages/wix-ui-core/src/components/tags-list/index.ts
  packages/wix-ui-core/src/components/tags-list/test/TagsList.spec.tsx
  packages/wix-ui-core/stories/index.tsx
Labels: wix-ui-core

#1481 wix-ui-framework: support kebab-case file names in geneator template
  packages/wix-ui-framework/src/cli-commands/generate/__test__/__snapshots__/copy-templates.spec.ts.snap
  packages/wix-ui-framework/src/cli-commands/generate/__test__/copy-templates.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/component-name.meta.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/component-name.st.css
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/component-name.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/component.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/docs/index.story.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/component-name.e2e.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/component-name.private.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/component-name.spec.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/component-name.visual.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/component-nameStories.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/test/storySettings.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/verify-working-directory.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/index.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/tasks/copy-templates.ts
Labels: wix-ui-framework

#1482 wix-ui-framework: release(3.3.0)
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/generate/__test__/__snapshots__/copy-templates.spec.ts.snap
  packages/wix-ui-framework/src/cli-commands/generate/__test__/templates-kebab-case/test-generated/src/component-name/component-name.js
Labels: wix-ui-framework

#1483 wix-ui-framework: support `component-name` in component generator codemods
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/generate/__test__/codemods/stories-file-kebab.js
  packages/wix-ui-framework/src/cli-commands/generate/__test__/run-codemods.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/stories-with-kebab.input.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/stories-with-kebab.output.js
  packages/wix-ui-framework/src/cli-commands/generate/tasks/run-codemods.ts
Labels: wix-ui-framework

#1484 wix-ui-core: feat(wuf): add component generator
  packages/wix-ui-core/.wuf/generator/codemods/index.js
  packages/wix-ui-core/.wuf/generator/codemods/stories-file.js
  packages/wix-ui-core/.wuf/generator/templates/component-name/component-name.meta.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/component-name.st.css
  packages/wix-ui-core/.wuf/generator/templates/component-name/component-name.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/component-name.uni.driver.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/docs/index.story.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/index.ts
  packages/wix-ui-core/.wuf/generator/templates/component-name/test/component-name.private.uni.driver.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/test/component-name.spec.tsx
  packages/wix-ui-core/.wuf/generator/templates/component-name/test/storySettings.ts
  packages/wix-ui-core/package.json
Labels: wix-ui-core
