Repository wix/wix-ui, pull requests merged in 2019-11, with the labels that each got.

#1514 <HorizontalMenu /> component
  packages/wix-ui-core/.wuf/components.json
  packages/wix-ui-core/.wuf/testkits/definitions.js
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.meta.tsx
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.st.css
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.tsx
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.uni.driver.tsx
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenuContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/docs/index.story.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/test/HorizontalMenu.private.uni.driver.tsx
  packages/wix-ui-core/src/components/horizontal-menu/test/HorizontalMenu.spec.tsx
  packages/wix-ui-core/src/components/horizontal-menu/test/storySettings.ts
  packages/wix-ui-core/src/components/horizontal-menu/utils/index.ts
  packages/wix-ui-core/stories/index.tsx
Labels: WIP, wix-ui-core

#1542 Created `<ClickOutside/>` component
  packages/wix-ui-core/src/components/click-outside/ClickOutside.spec.tsx
  packages/wix-ui-core/src/components/click-outside/ClickOutside.story.tsx
  packages/wix-ui-core/src/components/click-outside/ClickOutside.tsx
  packages/wix-ui-core/src/components/click-outside/index.ts
  packages/wix-ui-core/stories/ClickOutside/ClickOutside-story.tsx
  packages/wix-ui-core/stories/ClickOutside/index.story.tsx
  packages/wix-ui-core/stories/index.tsx
Labels: wix-ui-core

#1544 Migrate <Popover/> to the new <ClickOutside/>
  packages/wix-ui-core/package.json
  packages/wix-ui-core/src/components/dropdown/Dropdown.spec.tsx
  packages/wix-ui-core/src/components/dropdown/Dropdown.tsx
  packages/wix-ui-core/src/components/input-with-options/InputWithOptions.tsx
  packages/wix-ui-core/src/components/popover/Popover.driver.ts
  packages/wix-ui-core/src/components/popover/Popover.tsx
  packages/wix-ui-core/src/components/popover/Popover.uni.driver.ts
Labels: wix-ui-core

#1573 react-autodocs-utils: chore(README.md): dummy commit
  packages/react-autodocs-utils/README.md
  packages/react-autodocs-utils/package.json
Labels: General infra, react-autodocs-utils

#1577 wix-storybook-utils: chore(package.json): remove `eslint-config-wix` & `eslintConfig`
  packages/wix-storybook-utils/package.json
Labels: General infra, wix-storybook-utils

#1582 wix-storybook-utils: markdown in sections siblings
  packages/wix-storybook-utils/README.md
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/AutoTestkit/drivers.tsx
  packages/wix-storybook-utils/src/AutoTestkit/flatten.test.ts
  packages/wix-storybook-utils/src/Markdown/index.tsx
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.test.tsx
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.tsx
  packages/wix-storybook-utils/src/Sections/section-with-siblings/styles.scss
  packages/wix-storybook-utils/src/Sections/views/description.tsx
  packages/wix-storybook-utils/src/Sections/views/import-example/Code.tsx
  packages/wix-storybook-utils/src/Sections/views/import-example/index.tsx
  packages/wix-storybook-utils/src/StoryPage/testkit.tsx
  packages/wix-storybook-utils/stories/components/index.js
  packages/wix-storybook-utils/stories/sections/story-with-sections.story.js
Labels: General infra, wix-storybook-utils

#1578 <HorizontalMenu /> Update position calculations and components props
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.st.css
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.tsx
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/HorizontalMenuLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/utils/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/utils/index.ts
Labels: wix-ui-core

#1591 <HorizontalMenu /> Add vertical expand logic & update components props/interfaces
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.st.css
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.tsx
  packages/wix-ui-core/src/components/horizontal-menu/docs/CompoundComponentsAPI.md
  packages/wix-ui-core/src/components/horizontal-menu/docs/index.story.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/HorizontalMenuLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/utils/index.ts
  packages/wix-ui-core/src/components/horizontal-menu/test/HorizontalMenu.spec.tsx
Labels: wix-ui-core

#1595 Plugin metadata analyzer
  packages/wix-storybook-utils/README.md
  packages/wix-storybook-utils/src/loader/index.js
Labels: General infra, wix-storybook-utils

#1600 wix-storybook-utils: fix(src/loader): do not crash when no plugins set
  packages/wix-storybook-utils/src/loader/index.js
Labels: General infra, wix-storybook-utils

#1589 <ClickOutside/> - remove disableOnClickOutside prop
  packages/wix-ui-core/src/components/click-outside/ClickOutside.spec.tsx
  packages/wix-ui-core/src/components/click-outside/ClickOutside.tsx
  packages/wix-ui-core/stories/ClickOutside/ClickOutside-story.tsx
  packages/wix-ui-core/stories/ClickOutside/index.story.tsx
Labels: API

#1605 wix-storybook-utils: chore(AutoExample): fallback prop controller for non-enum types
  packages/wix-storybook-utils/src/AutoExample/index.js
Labels: wix-storybook-utils

#1613 wix-storybook-utils/refactor section builders
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/Sections/index.ts
  packages/wix-storybook-utils/src/typings/story-section.ts
Labels: wix-storybook-utils

#1615 chore(pom.xml): add slack channel to all packages pom.xml files
  packages/eslint-plugin-wix-style-react/pom.xml
  packages/tslint-plugin-wix-style-react/pom.xml
  packages/wix-storybook-utils/pom.xml
  packages/wix-ui-core/pom.xml
  packages/wix-ui-icons-common/pom.xml
  packages/wix-ui-mocha-runner/pom.xml
  packages/wix-ui-test-utils/pom.xml
  packages/wsr-types/pom.xml
Labels: General infra

#1614 wix-ui-framework: chore(pom.xml): remove Marius from developers
  packages/wix-ui-framework/pom.xml
Labels: wix-ui-framework

#1616 wix-storybook-utils: chore(Sections/header): update styling
  packages/wix-storybook-utils/src/Sections/views/header/index.tsx
  packages/wix-storybook-utils/src/Sections/views/header/styles.scss
Labels: wix-storybook-utils
