Repository wix/wix-ui, pull requests merged in 2019-04, with the labels that each got.

#1216 <Tooltip/> - enhance functionalities
  packages/wix-ui-core/package.json
  packages/wix-ui-core/src/components/tooltip/Tooltip.driver.ts
  packages/wix-ui-core/src/components/tooltip/Tooltip.meta.tsx
  packages/wix-ui-core/src/components/tooltip/Tooltip.private.uni.driver.ts
  packages/wix-ui-core/src/components/tooltip/Tooltip.protractor.driver.ts
  packages/wix-ui-core/src/components/tooltip/Tooltip.spec.tsx
  packages/wix-ui-core/src/components/tooltip/Tooltip.tsx
  packages/wix-ui-core/src/components/tooltip/Tooltip.uni.driver.ts
  packages/wix-ui-core/test/utils/react/index.ts
Labels: DO NOT MERGE, WIP

#1211 <AutoTestkit /> - add unidriver support based on sections api
  packages/wix-storybook-utils/src/AutoTestkit/auto-testkit.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/components/api-table.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/components/code-example.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/components/fields-documentation.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/components/method-documentation.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/index.tsx
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/templates/enzyme.ts
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/templates/index.ts
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/templates/protractor.ts
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/templates/puppeteer.ts
  packages/wix-storybook-utils/src/AutoTestkit/unidriver/templates/react.ts
  packages/wix-storybook-utils/src/Sections/views/testkit.tsx
  packages/wix-storybook-utils/src/typings/code-example.ts
  packages/wix-storybook-utils/src/typings/story-section.ts
Labels: WIP

#1229 wix-storybook-utils: create default sections when no `sections` array given
  packages/wix-storybook-utils/.gitignore
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/Sections/create-default-sections.test.ts
  packages/wix-storybook-utils/src/Sections/create-default-sections.ts
  packages/wix-storybook-utils/src/Sections/index.test.ts
  packages/wix-storybook-utils/src/Sections/index.ts
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.tsx
  packages/wix-storybook-utils/src/Sections/views/error.tsx
  packages/wix-storybook-utils/src/Sections/views/styles.scss
  packages/wix-storybook-utils/src/Sections/views/tab.tsx
  packages/wix-storybook-utils/src/Sections/views/tabs.tsx
  packages/wix-storybook-utils/src/Sections/views/testUtils.ts
  packages/wix-storybook-utils/src/Story/readme.md
  packages/wix-storybook-utils/src/StoryPage/index.test.tsx
  packages/wix-storybook-utils/src/StoryPage/index.tsx
  packages/wix-storybook-utils/src/StoryPage/single-component-layout.tsx
  packages/wix-storybook-utils/src/StoryPage/styles.scss
  packages/wix-storybook-utils/src/StoryPage/testkit.tsx
  packages/wix-storybook-utils/src/TabbedView/index.js
  packages/wix-storybook-utils/src/typings/metadata.ts
  packages/wix-storybook-utils/src/typings/story-config.ts
  packages/wix-storybook-utils/src/typings/story-section.ts
  packages/wix-storybook-utils/stories/component.js
  packages/wix-storybook-utils/stories/index.js
  packages/wix-storybook-utils/stories/sections/default-sections.story.js
  packages/wix-storybook-utils/stories/sections/filled-sections.story.js
  packages/wix-storybook-utils/stories/sections/single-component.story.js
  packages/wix-storybook-utils/stories/sections/story-with-mdx.story.js
  packages/wix-storybook-utils/stories/sections/story-with-sections.story.js
  packages/wix-storybook-utils/stories/sections/story-without-component.story.js
  packages/wix-storybook-utils/stories/story-without-component.story.tsx
Labels: WIP, wix-storybook-utils

#1244 Upgrade UniDriver To Latest - TEST (use upgraded wix-ui-test-utils from branch)
  packages/wix-ui-core/package.json
  packages/wix-ui-core/protractor.conf.js
  packages/wix-ui-core/src/components/file-picker-button/test/FilePickerButton.private.uni.driver.ts
  packages/wix-ui-core/src/components/file-picker-button/test/FilePickerButton.uni.driver.ts
  packages/wix-ui-core/src/components/popover/Popover.common.uni.driver.ts
  packages/wix-ui-core/test/utils/react/index.ts
  packages/wix-ui-test-utils/package.json
  packages/wix-ui-test-utils/src/base-driver/index.ts
  packages/wix-ui-test-utils/src/enzyme/enzyme.ts
  packages/wix-ui-test-utils/src/protractor/protractor.ts
  packages/wix-ui-test-utils/src/puppeteer/puppeteer.ts
  packages/wix-ui-test-utils/src/uni-driver-factory/createUniDriverFactory.tsx
  packages/wix-ui-test-utils/src/unidriver/index.ts
  packages/wix-ui-test-utils/src/unidriver/stylable-unidriver-util.ts
  packages/wix-ui-test-utils/src/vanilla/index.ts
  packages/wix-ui-test-utils/src/vanilla/vanilla.tsx
Labels: DO NOT MERGE

#1250 <ButtonNext/> - render affix with its provided class name
  packages/wix-ui-core/src/components/button-next/button-next.driver.private.ts
  packages/wix-ui-core/src/components/button-next/button-next.spec.tsx
  packages/wix-ui-core/src/components/button-next/button-next.tsx
Labels: bug

#1254 wix-storybook-utils: display imports in LiveCodeExample
  packages/wix-storybook-utils/src/LiveCodeExample/index.js
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.test.tsx
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.tsx
  packages/wix-storybook-utils/src/StoryPage/index.tsx
  packages/wix-storybook-utils/stories/examples/code-with-imports.js
  packages/wix-storybook-utils/stories/index.js
  packages/wix-storybook-utils/stories/sections/code-examples.story.js
Labels: wix-storybook-utils

#1263 Wix storybook utils/jsdoc support
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/AutoDocs/index.js
  packages/wix-storybook-utils/src/Sections/views/api.tsx
  packages/wix-storybook-utils/src/Sections/views/api/index.test.tsx
  packages/wix-storybook-utils/src/Sections/views/api/index.tsx
  packages/wix-storybook-utils/src/Sections/views/api/styles.scss
  packages/wix-storybook-utils/src/Sections/views/playground.tsx
  packages/wix-storybook-utils/src/Sections/views/playground/index.test.tsx
  packages/wix-storybook-utils/src/Sections/views/playground/index.tsx
  packages/wix-storybook-utils/src/typings/prop.ts
  packages/wix-storybook-utils/stories/component.js
Labels: wix-storybook-utils

#1267 Wix storybook utils/autodocs methods table
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/AutoDocs/component-resolver.js
  packages/wix-storybook-utils/src/AutoDocs/index.js
  packages/wix-storybook-utils/src/AutoDocs/index.test.tsx
  packages/wix-storybook-utils/src/AutoDocs/index.tsx
  packages/wix-storybook-utils/src/AutoDocs/methods-table.tsx
  packages/wix-storybook-utils/src/AutoDocs/parser.js
  packages/wix-storybook-utils/src/AutoDocs/props-table.tsx
  packages/wix-storybook-utils/src/AutoDocs/readme.md
  packages/wix-storybook-utils/src/AutoDocs/styles.scss
  packages/wix-storybook-utils/src/Sections/create-default-sections.test.ts
  packages/wix-storybook-utils/src/Sections/create-default-sections.ts
  packages/wix-storybook-utils/src/Sections/index.test.ts
  packages/wix-storybook-utils/src/Sections/views/api.tsx
  packages/wix-storybook-utils/src/Sections/views/api/index.test.tsx
  packages/wix-storybook-utils/src/Sections/views/api/index.tsx
  packages/wix-storybook-utils/src/Sections/views/api/styles.scss
  packages/wix-storybook-utils/src/TabbedView/index.js
  packages/wix-storybook-utils/src/typings/metadata.ts
  packages/wix-storybook-utils/src/typings/prop.ts
  packages/wix-storybook-utils/stories/component.js
Labels: wix-storybook-utils

#1268 <Popover/> - change testkit method getContentElement handler
  packages/wix-ui-core/src/components/popover/Popover.common.uni.driver.ts
  packages/wix-ui-core/src/components/popover/Popover.driver.ts
  packages/wix-ui-core/src/components/popover/Popover.private.driver.ts
  packages/wix-ui-core/src/components/popover/Popover.spec.tsx
  packages/wix-ui-core/src/components/popover/Popover.tsx
Labels: wix-ui-core

#1269 wix-storybook-utils: support class properties in code LiveCodeExample
  packages/wix-storybook-utils/package.json
  packages/wix-storybook-utils/src/LiveCodeExample/index.js
  packages/wix-storybook-utils/stories/examples/class-with-arrows.js
  packages/wix-storybook-utils/stories/sections/code-examples.story.js
Labels: wix-storybook-utils
