Repository wix/wix-ui, pull requests merged in 2020-08, with the labels that each got.

#1902 <Dropdown/> - fix click outside
  packages/wix-ui-core/src/components/dropdown/Dropdown.tsx
  packages/wix-ui-core/src/components/popover/docs/Popover.story.tsx
Labels: wix-ui-core

#1904 <NavStep /> - add className prop which is sent by <NavStepper />
  packages/wix-ui-core/src/components/nav-stepper/NavStep.tsx
Labels: auto pr, wix-ui-core

#1908 wix-storybook-utils/import example
  packages/wix-storybook-utils/src/Sections/index.ts
  packages/wix-storybook-utils/src/Sections/views/import-example/index.test.tsx
  packages/wix-storybook-utils/src/Sections/views/import-example/index.tsx
Labels: wix-storybook-utils

#1909 wix-storybook-utils - add basic type
  packages/wix-storybook-utils/src/AutoTestkit/method-documentation.tsx
Labels: wix-storybook-utils
