Repository wix/wix-ui, pull requests merged in 2020-03, with the labels that each got.

#1788 wix-storybook-utils: add new `Example` section
  packages/wix-storybook-utils/docs/sections.md
  packages/wix-storybook-utils/src/LiveCodeExample/index.scss
  packages/wix-storybook-utils/src/Sections/index.test.ts
  packages/wix-storybook-utils/src/Sections/index.ts
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.test.tsx
  packages/wix-storybook-utils/src/Sections/section-with-siblings/index.tsx
  packages/wix-storybook-utils/src/Sections/views/code.tsx
  packages/wix-storybook-utils/src/Sections/views/example.tsx
  packages/wix-storybook-utils/src/Sections/views/tab.tsx
  packages/wix-storybook-utils/src/typings/story-section.ts
  packages/wix-storybook-utils/stories/index.js
  packages/wix-storybook-utils/stories/sections/story-with-example-section.story.js
Labels: wix-storybook-utils

#1807 wix-ui-core|TagsList: fixed driver type for clickOnTagByIndex
  packages/wix-ui-core/src/components/tags-list/TagsList.uni.driver.ts
Labels: Dev Impact Only

#1809 wix-storybook-utils: fix(Sections/views/example): remove console.log
  packages/wix-storybook-utils/src/Sections/views/example.tsx
Labels: wix-storybook-utils

#1813 wix-ui-codemod: add `migrate-wsr8` codemod
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.output.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/imports.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/imports.output.js
  packages/wix-ui-codemod/src/wix-style-react/__tests__/migrate-wsr8.spec.ts
  packages/wix-ui-codemod/src/wix-style-react/migrate-wsr8.ts
Labels: wix-ui-codemod

#1819 wix-ui-codemod: fix migrate-wsr8 to better handle Card.Divider insertion
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/card-header.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/card-header.output.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.output.js
  packages/wix-ui-codemod/src/wix-style-react/__tests__/migrate-wsr8.spec.ts
  packages/wix-ui-codemod/src/wix-style-react/migrate-wsr8.ts
  packages/wix-ui-codemod/src/wix-style-react/named-imports.ts
Labels: wix-ui-codemod
