Repository wix/wix-ui, pull requests merged in 2020-04, with the labels that each got.

#1834 wix-storybook-utils: chore(CodeShowcase): remove stylable usage
  packages/wix-storybook-utils/src/CodeShowcase/CodeShowcase.scss
  packages/wix-storybook-utils/src/CodeShowcase/components/List.js
  packages/wix-storybook-utils/src/CodeShowcase/index.js
Labels: wix-storybook-utils

#1840 chore(wix-ui-mocha-runner): upgrade dependencies and support stylable v3
  packages/wix-ui-mocha-runner/package.json
  packages/wix-ui-mocha-runner/src/server.js
Labels: Testing

#1844 fix(migrate-wsr8): add Card.Divider only if Card.Header lacks withoutDivider
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/card-header.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/card-header.output.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.input.js
  packages/wix-ui-codemod/src/wix-style-react/__testfixtures__/migrate-wsr8/components.output.js
  packages/wix-ui-codemod/src/wix-style-react/migrate-wsr8.ts
Labels: wix-ui-codemod

#1846 fix(Tag): use `classes` instead of `style`
  packages/wix-ui-core/src/components/tags-list/Tag.tsx
Labels: wix-ui-core

#1848 wix-storybook-utils: feat(LiveCodeExample): add button to prettify code
  packages/wix-storybook-utils/src/CopyButton/index.tsx
  packages/wix-storybook-utils/src/LiveCodeExample/LiveCodeExample.tsx
  packages/wix-storybook-utils/src/LiveCodeExample/index.scss
Labels: wix-storybook-utils

#1850 wix-storybook-utils: new component with code snippet support
  packages/wix-storybook-utils/src/LiveCodeExample/LiveCodeExample.tsx
  packages/wix-storybook-utils/src/LiveCodeExample/format-code.tsx
  packages/wix-storybook-utils/src/Playground/create-reducer.ts
  packages/wix-storybook-utils/src/Playground/index.tsx
  packages/wix-storybook-utils/src/Playground/styles.scss
  packages/wix-storybook-utils/src/TextButton/index.js
  packages/wix-storybook-utils/stories/index.js
  packages/wix-storybook-utils/stories/playground.story.js
  packages/wix-storybook-utils/stories/sections/code-examples.story.js
Labels: wix-storybook-utils

#1849 removed react-onclickoutside package
  packages/wix-ui-core/package.json
  packages/wix-ui-core/src/components/dropdown/Dropdown.spec.tsx
  packages/wix-ui-core/src/components/dropdown/Dropdown.tsx
  packages/wix-ui-core/src/components/icon-with-options/IconWithOptions.tsx
  packages/wix-ui-core/src/components/input-with-options/InputWithOptions.tsx
  packages/wix-ui-core/src/components/popover/Popover.tsx
Labels: wix-ui-core
