Repository wix/wix-ui, pull requests merged in 2020-01, with the labels that each got.

#1705 wix-ui-framework: support variables in generator template files
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/generate/__test__/__snapshots__/copy-templates.spec.ts.snap
  packages/wix-ui-framework/src/cli-commands/generate/__test__/copy-templates.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/__test__/run-codemods.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/index-file.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/stories-file-kebab.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/stories-file.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/testkit-definitions.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/testkit-exports-ts.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/codemods/testkit-exports.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/component-name.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/component-name.meta.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/component-name.st.css
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/component-name.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/docs/index.story.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/component-name.e2e.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/component-name.private.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/component-name.spec.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/component-name.visual.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/component-nameStories.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/component-name/test/storySettings.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/kebab-case/test-generated/src/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/Component.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/Component.meta.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/Component.st.css
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/Component.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/docs/index.story.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/Component.e2e.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/Component.private.uni.driver.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/Component.spec.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/Component.visual.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/ComponentStories.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/Component/test/storySettings.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/src/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/stories/index.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/testkit/protractor.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/testkit/puppeteer.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/test-generated/testkit/testkit-definitions.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$ComponentName.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$ComponentName.long.extension
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$ComponentName.readme.md
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$ComponentNameTest.spec
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$component-name-hello.md
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$component-name.ts
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$componentName.js
  packages/wix-ui-framework/src/cli-commands/generate/__testfixtures__/templates/variable-names/$component_name.tsx
  packages/wix-ui-framework/src/cli-commands/generate/interpolate-file-name.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/interpolate-file-name.ts
  packages/wix-ui-framework/src/cli-commands/generate/tasks/copy-templates.ts
  packages/wix-ui-framework/src/fs-to-json/index.ts
  packages/wix-ui-framework/tsconfig.json
Labels: wix-ui-framework

#1706 wix-ui-framework: release(3.4.0)
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
Labels: wix-ui-framework

#1709 Wix ui framework/generator support ejs
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/generate/__test__/replace-templates.spec.ts
  packages/wix-ui-framework/src/cli-commands/generate/tasks/replace-templates.ts
Labels: wix-ui-framework

#1715 wix-ui-framework/update docs
  packages/wix-ui-framework/README.md
  packages/wix-ui-framework/docs/generate.md
  packages/wix-ui-framework/docs/usage.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/scripts/README.template.md
  packages/wix-ui-framework/scripts/make-readme.js
Labels: wix-ui-framework

#1722 wix-storybook-utils: fix(section/header): add padding and display bottom border
  packages/wix-storybook-utils/src/Sections/views/header/styles.scss
Labels: wix-storybook-utils

#1723 react-autodocs-utils: test(metadata-parser): test missing feature
  packages/react-autodocs-utils/src/metadata-parser/tests/index.test.js
Labels: react-autodocs-utils

#1729 wix-ui-framework/generator sequential codemods
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
  packages/wix-ui-framework/src/cli-commands/generate/tasks/run-codemods.ts
Labels: wix-ui-framework

#1721 <HorizontalMenu /> Fix submenu expand with multiple rows
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.st.css
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
Labels: wix-ui-core
