Repository wix/wix-ui, pull requests merged in 2020-11, with the labels that each got.

#1959 wix-ui-framework: update `generate.md` with examples for templates
  packages/wix-ui-framework/docs/generate.md
Labels: docs, wix-ui-framework

#1960 fixed possible error
  packages/wix-ui-core/src/components/click-outside/ClickOutside.tsx
Labels: auto pr

#1966 wix-ui-core(Dropdown): do not invoke `onSelect` after Tab
  packages/wix-ui-core/src/components/dropdown/Dropdown.spec.tsx
  packages/wix-ui-core/src/components/dropdown/Dropdown.tsx
Labels: wix-ui-core
