Repository wix/wix-ui, pull requests merged in 2020-02, with the labels that each got.

#1763 <RichTextInputArea/> - types
  packages/wsr-types/__tests__/RichTextInputArea-tests.tsx
  packages/wsr-types/package.json
  packages/wsr-types/src/components/RichTextInputArea.d.ts
  packages/wsr-types/src/drivers/RichTextInputArea.uni.driver.d.ts
  packages/wsr-types/src/testkits/enzyme.d.ts
  packages/wsr-types/src/testkits/puppeteer.d.ts
  packages/wsr-types/src/testkits/vanilla.d.ts
Labels: wsr-types

#1777 Handle menu top/bottom border width when expands menu & fullWidth
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenu.tsx
  packages/wix-ui-core/src/components/horizontal-menu/HorizontalMenuContext.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
Labels: wix-ui-core

#1762 `<ToggleSwitch/>`- types
  packages/wsr-types/__tests__/ToggleSwitch-tests.tsx
  packages/wsr-types/src/baseDrivers/baseDrivers.d.ts
  packages/wsr-types/src/components/ToggleSwitch.d.ts
  packages/wsr-types/src/drivers/ToggleSwitch.driver.d.ts
  packages/wsr-types/src/drivers/ToggleSwitch.uni.driver.d.ts
  packages/wsr-types/src/testkits/enzyme.d.ts
  packages/wsr-types/src/testkits/vanilla.d.ts
Labels: DO NOT MERGE, WIP

#1783 <HorizontalMenu /> Add open/hide delay on submenu expand & fix expand calculations
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-columns-layout/HorizontalMenuColumnsLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-grid-layout/HorizontalMenuGridLayout.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.st.css
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItem.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-item/HorizontalMenuItemContext.tsx
  packages/wix-ui-core/src/components/horizontal-menu/horizontal-menu-layout/calculatePositioning.ts
  packages/wix-ui-core/src/components/horizontal-menu/test/HorizontalMenu.spec.tsx
Labels: wix-ui-core
