Repository wix/wix-ui, pull requests merged in 2021-05, with the labels that each got.

#2099 wix-ui-framework/add verbose output option
  packages/wix-ui-framework/src/cli-commands/update-components-list/cli.ts
  packages/wix-ui-framework/src/cli-commands/update-components-list/index.spec.ts
  packages/wix-ui-framework/src/cli-commands/update-components-list/index.ts
  packages/wix-ui-framework/test/__snapshots__/cli.spec.ts.snap
Labels: wix-ui-framework

#2100 wix-ui-framework: release(3.6.0)
  packages/wix-ui-framework/CHANGELOG.md
  packages/wix-ui-framework/package.json
Labels: wix-ui-framework

#2111 set @stylable/dom-test-kit as dependency
  packages/wix-ui-core/package.json
Labels: wix-ui-core

#2115 changed header back button SVG and name
  packages/wix-ui-icons-common/src/classic-editor/system/metadata.ts
  packages/wix-ui-icons-common/src/classic-editor/system/raw/ChevronLeft.svg
Labels: wix-ui-icons-common
